Thesis-Workspace/.metadata/
.class
.classpath
Thesis-Workspace/s144449s144456.RailwayNetworkConfigurationGenerator.editor/
Thesis-Workspace/s144449s144456.RailwayNetworkConfigurationGenerator.edit/
Thesis-Workspace/s144449s144456.RailwayNetworkConfigurationGenerator.diagram/