<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension 
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="s144449s144456.RailwayModelGenerator"
               label="Railway Model Generator">
         </menu>
      </menuContribution>
   </extension>

   <extension 
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:s144449s144456.RailwayModelGenerator?after=additions">
         <command
               commandId="s144449s144456.RailwayModelGenerator.test">
            <visibleWhen>
               <with
                     variable="selection">
                  <count value="1"/>
                  <iterate>
                     <adapt
                           type="network.Network">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="s144449s144456.RailwayModelGenerator.test"
            description="Test command"
            defaultHandler="s144449s144456.RailwayModelGenerator.commands.Translator"
            name="Test">
      </command>
   </extension>
</plugin>
