<?xml version="1.0" encoding="UTF-8"?>
<nw:Network xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:nw="http://s144449s144456.railwaymodelgenerator/network">
  <controlBoxes xsi:type="nw:RegularBox" id="cb0" ingoing="s4" outgoing="s0"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb1" ingoing="s0 s2" outgoing="s1" stem="s0" plus="s1" minus="s2"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb2" ingoing="s1 s3" outgoing="s2" stem="s3" plus="s1" minus="s2"/>
  <controlBoxes xsi:type="nw:RegularBox" id="cb3" outgoing="s3"/>
  <controlBoxes xsi:type="nw:RegularBox" id="cb4" outgoing="s4"/>
  <segments xsi:type="nw:SegmentTwoWay" id="s0" start="cb0" end="cb1"/>
  <segments xsi:type="nw:SegmentTwoWay" id="s1" start="cb1" end="cb2"/>
  <segments xsi:type="nw:SegmentTwoWay" id="s3" start="cb3" end="cb2"/>
  <segments xsi:type="nw:SegmentOneWay" id="s2" start="cb2" end="cb1"/>
  <segments xsi:type="nw:SegmentTwoWay" id="s4" start="cb4" end="cb0"/>
  <trains id="t0" route="s4 s0 s1 s3"/>
  <trains id="t1" route="s3 s2 s4"/>
</nw:Network>
