<?xml version="1.0" encoding="UTF-8"?>
<nw:Network xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:nw="http://s144449s144456.RailwayModelGenerator/network" lockLimit="2" reserveLimit="2" name="stationSixLimitTwo">
  <controlBoxes id="cb0" outgoing="s0"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb1" ingoing="s0" outgoing="s2 s1" stem="s0" plus="s1" minus="s2"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb2" ingoing="s2 s1" outgoing="s3" stem="s3" plus="s1" minus="s2"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb3" ingoing="s3" outgoing="s5 s4" stem="s3" plus="s4" minus="s5"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb4" ingoing="s5 s4" outgoing="s6" stem="s6" plus="s4" minus="s5"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb5" ingoing="s6" outgoing="s8 s7" stem="s6" plus="s7" minus="s8"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb6" ingoing="s8 s7" outgoing="s9" stem="s9" plus="s7" minus="s8"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb7" ingoing="s9" outgoing="s11 s10" stem="s9" plus="s10" minus="s11"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb8" ingoing="s11 s10" outgoing="s12" stem="s12" plus="s10" minus="s11"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb9" ingoing="s12" outgoing="s14 s13" stem="s12" plus="s13" minus="s14"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb10" ingoing="s14 s13" outgoing="s15" stem="s15" plus="s13" minus="s14"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb12" ingoing="s17 s16" outgoing="s18" stem="s18" plus="s16" minus="s17"/>
  <controlBoxes id="cb13" ingoing="s18"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb11" ingoing="s15" outgoing="s17 s16" stem="s15" plus="s16" minus="s17"/>
  <segments id="s0" start="cb0" end="cb1"/>
  <segments id="s2" start="cb1" end="cb2"/>
  <segments id="s1" start="cb1" end="cb2"/>
  <segments id="s3" start="cb2" end="cb3"/>
  <segments id="s5" start="cb3" end="cb4"/>
  <segments id="s4" start="cb3" end="cb4"/>
  <segments id="s6" start="cb4" end="cb5"/>
  <segments id="s8" start="cb5" end="cb6"/>
  <segments id="s7" start="cb5" end="cb6"/>
  <segments id="s9" start="cb6" end="cb7"/>
  <segments id="s11" start="cb7" end="cb8"/>
  <segments id="s10" start="cb7" end="cb8"/>
  <segments id="s12" start="cb8" end="cb9"/>
  <segments id="s14" start="cb9" end="cb10"/>
  <segments id="s13" start="cb9" end="cb10"/>
  <segments id="s15" start="cb10" end="cb11"/>
  <segments id="s17" start="cb11" end="cb12"/>
  <segments id="s16" start="cb11" end="cb12"/>
  <segments id="s18" start="cb12" end="cb13"/>
  <trains id="t1" route="s18 s17 s15 s14 s12 s11 s9 s8 s6 s5 s3 s2"/>
  <trains id="t0" route="s0 s1 s3 s4 s6 s7 s9 s10 s12 s13 s15 s16 s18"/>
</nw:Network>
