<?xml version="1.0" encoding="UTF-8"?>
<nw:Network xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:nw="http://s144449s144456.RailwayModelGenerator/network" name="stationTwoLimitOne">
  <controlBoxes id="cb0" outgoing="s0"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb1" ingoing="s0" outgoing="s2 s1" stem="s0" plus="s1" minus="s2"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb2" ingoing="s2 s1" outgoing="s3" stem="s3" plus="s1" minus="s2"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb3" ingoing="s3" outgoing="s5 s4" stem="s3" plus="s4" minus="s5"/>
  <controlBoxes xsi:type="nw:SwitchBox" id="cb4" ingoing="s5 s4" outgoing="s6" stem="s6" plus="s4" minus="s5"/>
  <controlBoxes id="cb5" ingoing="s6"/>
  <segments id="s0" start="cb0" end="cb1"/>
  <segments id="s2" start="cb1" end="cb2"/>
  <segments id="s1" start="cb1" end="cb2"/>
  <segments id="s3" start="cb2" end="cb3"/>
  <segments id="s5" start="cb3" end="cb4"/>
  <segments id="s4" start="cb3" end="cb4"/>
  <segments id="s6" start="cb4" end="cb5"/>
  <trains id="t0" route="s0 s1 s3 s4 s6"/>
  <trains id="t1" route="s6 s5 s3 s2"/>
</nw:Network>
